.AgendamentoSangue{
    display: flex;
    flex-direction: column;
    background: #E5E5E5;
}

.botaoNova{
    width: 100px;
    height: 33px;
    align-self: center;
    color: white;
    margin-right: 35px;

    background: #BB0A1E;
    border-radius: 10px;

    font-style: normal;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 19px;
    text-align: center;
    border:none;
}


.Table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Topo{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Topo img{
    cursor: pointer;
}

.Topo div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Topo h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #BB0A1E;
}

#card_cadastro{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 22%;
}


.form_cadastro{
    width: 70%;
}

.form_cadastro label{
    color: #BB0A1E !important;
    font-weight: 500;
    font-size: 18px;
}

.form_cadastro input, .form_cadastro select {
    border: 1px solid #BB0A1E
}


.form_cadastro button{
    margin-bottom: 30px;
    width: 30%;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    background-color: #BB0A1E  !important;
}


.mensagem{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.lixeira{
    cursor: pointer;
}

.titulo{
    margin:0
}