.HeaderDoador{
    padding-top: 30px;
    height: 80px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: white;
}

.HeaderDoador .link{
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.HeaderDoador .Logo{
    display: flex;
    align-items: center;
}

    .Logo label{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        color: #BB0A1E;
        cursor: pointer;
    }



.HeaderDoador .MenuList{
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}


.HeaderDoador .ItemList{
    display: inline-block;
    margin-right: 25px;
    font-weight: 500;
}


.HeaderDoador .ItemList a{
    color: #BB0A1E;
    text-decoration: none;
    font-size: 1.2rem;
}



.HeaderDoador .titulo{
    color: #BB0A1E !important;
    margin: 0;
    margin-left: 25%;
}


.Botao{
    width: 80px;
    height: 33px;
    float: right;
    /* margin-bottom: 50px; */
    color: white;
    margin-right: 35px;

    background: #BB0A1E;
    border-radius: 10px;

    font-style: normal;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 19px;
    text-align: center;
}


