.SaibaMais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center; 
}    

.SaibaMais    h2{
        margin-top: 10px;
        color: #BB0A1E;
        font-weight: 600;
    }

.SaibaMais    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 88vw;
}


.SaibaMais .Card2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    width: 260px;
    height: 370px;
    background: white;
    border-radius:15px;
    color: #BB0A1E;
}

.SaibaMais .Card2 label{
    padding-top: 5%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.SaibaMais .Card2 p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    padding: 5%;
    text-align: justify;
}

.SaibaMais button {
    width: 100px;
    align-self:center;
    margin-bottom: 10px;
}

.SaibaMais .Ellipse{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding: 2%;
    align-self: center;
}

@media (max-width: 700px){
    .SaibaMais    div{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}


